# игнорировать все файлы с расширением .doc
*.doc 
# Виртуальное окружение (никогда не грузим в GitHub!)
venv/
.venv/

# Кэш Python (автоматически создаваемые файлы)
__pycache__/
*.pyc

# Отчеты тестов и логи (создаются при запуске, не нужны в истории)
reports/
allure-results/
*.log

# Секреты и ключи (никогда не коммитим!)
.env

# Настройки VS Code (если они нужны только тебе)
.vscode/
